@charset "UTF-8";
/*
** font face
*/
@font-face {
  font-family: 'wb-light';
  src: url("assets/font/wb-light.eot");
  src: local("â˜º"), url("assets/font/wb-light.woff") format("woff"), url("assets/font/wb-light.ttf") format("truetype"), url("assets/font/wb-light.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'wb-medium';
  src: url("assets/font/wb-medium.eot");
  src: local("â˜º"), url("assets/font/wb-medium.woff") format("woff"), url("assets/font/wb-medium.ttf") format("truetype"), url("assets/font/wb-medium.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'wb-bold';
  src: url("assets/font/wb-bold.eot");
  src: local("â˜º"), url("assets/font/wb-bold.woff") format("woff"), url("assets/font/wb-bold.ttf") format("truetype"), url("assets/font/wb-bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'wb-black';
  src: url("assets/font/wb-black.eot");
  src: local("â˜º"), url("assets/font/wb-black.woff") format("woff"), url("assets/font/wb-black.ttf") format("truetype"), url("assets/font/wb-black.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

/*
** common
*/
/* line 54, ../sass/main.scss */
html {
  height: 100%;
}

/* line 58, ../sass/main.scss */
body {
	height: 100%;
 	min-height: 100%;
 	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

/* ============= PAGE ============= */
/* line 70, ../sass/main.scss */
#wrap-page, #page {
  height: 100%;
  min-height: 100%;
}

/* line 75, ../sass/main.scss */
div#background-map {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

/* ================= LEAFLET HACKS ============= */
/* line 87, ../sass/main.scss */
.leaflet-container .leaflet-control-zoom {
  margin-left: 10px;
  margin-top: 52px;
}

/*.leaflet-container{
    font-size: 0.5em !important;
    line-height: 1.5em !important;
}*/

/* line 92, ../sass/main.scss */
.leaflet-container a {
  outline: 0;
  text-decoration: none;
  color: #000000;
}

/* line 105, ../sass/main.scss */
body, a {
  color: #000000;
  text-decoration: none; 
}

/* line 107, ../sass/main.scss */
.leaflet-top {
  z-index: 100 !important;
}

/* line 111, ../sass/main.scss */
.leaflet-control-attribution {
  display: none;
}

/* line 119, ../sass/main.scss */
a:focus {
  outline: 0;
}

a:hover { 
	color: #000000; 
}

/* line 121, ../sass/main.scss */
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*
** layout
*/

/*
** wysiwyg
*/
/* line 142, ../sass/main.scss */
.wysiwyg {
  	font-size: 0.5em;
	line-height: 1.5em;
	text-decoration: none;
}

/*
** legend
*/
.legend {
	margin: 0.5em 0;
	font-size: 0.8em;
	line-height: 1.2em;
	font-family : Times;
}

/*
** embed
*/
/* line 162, ../sass/main.scss */
.embed p {
  display: none;
}

/*
** fancybox
*/
/* line 168, ../sass/main.scss */
div.fancybox {
  cursor: pointer;
}

/* line 172, ../sass/main.scss */
a.fancybox {
  text-decoration: none;
}

/* line 174, ../sass/main.scss */
.fancybox-opened .fancybox-skin {
 	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #fff;
}

/* line 183, ../sass/main.scss */
.fancybox-wb-close,
.fancybox-wb-prev,
.fancybox-wb-next {
  	position: fixed;
	width: 50px;
	height: 50px;
	background: transparent url('../img/close.png') 50% 50% no-repeat;
}

/* line 190, ../sass/main.scss */
.fancybox-wb-close {
  top: 8%;
  right: 2%;
}

.fancybox-wb-close-white {
  top: 2%;
  right: -6%;
  background: transparent url('../img/close-white.png') 50% 50% no-repeat;
}

/* line 192, ../sass/main.scss */
.fancybox-wb-prev {
  top: 50%;
  left: 2%;
  margin-top: -25px;
  background-image: url("../img/prev.png");
}

/* line 194, ../sass/main.scss */
.fancybox-wb-next {
  top: 50%;
  right: 2%;
  margin-top: -25px;
  background-image: url("../img/next.png");
}

/* line 196, ../sass/main.scss */
.fancybox-title-float-wrap {
  position: inherit !important;
}

/* line 200, ../sass/main.scss */
.fancybox-title-float-wrap .child {
  white-space: inherit;
  padding: 0px;
  background: transparent;
  text-shadow: none;
  color: #000;
  font-weight: normal;
  line-height: auto;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}


/*
** coordinates
*/