
** Arte header
*/
/* line 5, ../sass/sections.scss */
#arte-header {
    z-index: 1001!important;
  }

#arte-cookie-banner {
    display: none;
}
/*
** intro
*/
/* line 13, ../sass/sections.scss */
.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 997;
}

/* line 23, ../sass/sections.scss */
.intro .wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 450px;
	margin-left: -400px;
	margin-top: -270px;
	text-align: center;
}

/* line 34, ../sass/sections.scss */
.intro .logo {
	font-family: 'wb-bold';
	text-transform: uppercase;
	width: 30em;
	padding: 2em;
	margin: auto;
	color: #00ff00;
	margin-bottom: 2em;
	background: #000;
}

/* line 45, ../sass/sections.scss */
.intro .logo .name {
	font-size: 3.5em;
	letter-spacing: 0.05em;
	margin-bottom: 0.2em;
	line-height: 1em;
}

/* line 51, ../sass/sections.scss */
.intro .logo .baseline {
  	font-size: 0.8em;
	letter-spacing: 0.05em;
	line-height: 1em;
	margin-bottom: 2em;
	font-family: 'wb-medium';
}

/* line 58, ../sass/sections.scss */
.intro .logo .loader,
.intro .logo .enter {
  	height: 35px;
	line-height: 30px;
}

/* line 63, ../sass/sections.scss */
.spin {
  margin: 0 auto;
  -webkit-animation: spin 1.5s infinite linear;
  -moz-animation: spin 1.5s infinite linear;
  -o-animation: spin 1.5s infinite linear;
  -ms-animation: spin 1.5s infinite linear;
}

@-webkit-keyframes spin {
  /* line 71, ../sass/sections.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 72, ../sass/sections.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  /* line 75, ../sass/sections.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 76, ../sass/sections.scss */
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  /* line 79, ../sass/sections.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 80, ../sass/sections.scss */
  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  /* line 83, ../sass/sections.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 84, ../sass/sections.scss */
  100% {
    -ms-transform: rotate(360deg);
  }
}

/* line 92, ../sass/sections.scss */
.intro .logo .enter span {
  	padding: 0.5em 1em;
	border: 4px solid #00ff00;
}

/* line 97, ../sass/sections.scss */
.intro .logo .enter span:hover {
  	color: #000;
	background: #00ff00;
}

/* line 102, ../sass/sections.scss */
.intro .logo .not-enter {
	color: #ff0000;
}

/* line 107, ../sass/sections.scss */
.intro .partners {
    /*position: absolute;*/
  	position: relative;
	width: 100%;
	left: 0;
	bottom: 2em;
	z-index: 1;
	text-align: center;
}

/* line 116, ../sass/sections.scss */
.intro .partners img {
  margin: 0 1em;
}

/* line 118, ../sass/sections.scss */
.intro .production {
  	font-weight: normal;
	font-size: 0.7em; 
	letter-spacing: .1em; 
	margin-bottom: 2em; 
	color: #00ff00;
	font-family: 'wb-light';
}

/* line 126, ../sass/sections.scss */
div.enter {
  cursor: pointer;
}

/*
Timeline
*/
.timeline{
    position: fixed;
    bottom: 0px;
    left:0px;
    height:26px; /* same as arte header */
    width:100%;
    background-color: black;
    z-index:996;
}

.play-timeline{
    position: relative;
    display: block;
    float: left;
    top: 5px;
    left: 6px;
    width: 35px;
    height: 22px;
    background: transparent url("../img/play-timeline.png");
    background-size:  20px 16px;
    background-repeat:  no-repeat;
    cursor: pointer;
}
.play-timeline.hide-bg {
    background-image: none;
}
.segment-wrap{
    position: absolute;
    width:97%;
    left:35px;

}
.sequence-segment{
    position: relative;
    display:block;
    float:left;
    top:9px;
    height: 8px;
    margin-left: 2px;
    cursor: pointer;
}
.notplayed{
    background-color: gray;
}
.played{
    background-color: #00ff00;
}

/* Timeline tooltip
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

/* Add this attribute to the element that needs a tooltip */
[data-about-tooltip],
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-about-tooltip]:before,
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 215%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

[data-about-tooltip]:before {
    position: relative;
    bottom: -120%;
    /*left: 50%;*/
    /*margin-bottom: 5px;*/
    /*margin-left: -80px;*/
    padding: 7px;
    /*width: 110px;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-about-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.0;
    display: inline-block;
    float: right;
    /*z-index: 100020;*/
}


/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 215%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-about-tooltip]:hover:before,
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/*
** overlay player
*/
/* line 133, ../sass/sections.scss */
.video-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.95);*/
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.95);
  z-index: 995;
}

/* line 143, ../sass/sections.scss */
.video-overlay .video-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  /*width: 1200px;
  height: 662px;
  margin-left: -600px;
  margin-top: -331px;*/
  text-align: center;
}

.overlay-close {
    position: fixed;
    cursor: pointer;
    width:32px;
    height:32px;
    top: 42px;
    right: 20px;
    background: transparent url('../img/close-white.png') no-repeat;
}

.player-notice{
    color: gray;
}
/*
** pannel
*/
/* line 158, ../sass/sections.scss */
.themes {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 170, ../sass/sections.scss */
.themes {
  position: relative;
  background: #ffffff;
}

/*
** theme
*/
/* line 179, ../sass/sections.scss */
.theme {
 	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

/* line 186, ../sass/sections.scss */
.theme h3.name {
  display: none;
}

/* line 188, ../sass/sections.scss */
.theme .sequence {
  position: relative;
  width: 1400px;
  height: 768px;
}

.theme .sequence-bonus {
    position: relative;
    width: 850px;
    height: 466px;
}

/* line 194, ../sass/sections.scss */
.theme .sequence img {
  width: 100%;
  height: auto !important;
  max-height: 768px;
}

/* line 200, ../sass/sections.scss */
.theme .sequence .play {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: transparent url("../img/play.png") 50% 50% no-repeat;
	  z-index: 1;
}

/*
** post
*/
/* line 216, ../sass/sections.scss */
.post {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


.post .wysiwyg h1 {
font-family: 'wb-bold';
font-size: 2.0em;
line-height: 1.3em;
letter-spacing: 0.02em;
text-transform: uppercase;
/*border-bottom: 1px solid #000;*/
/*margin-bottom: 5px;*/
display: inline-block;
}

.post .wysiwyg h2 {
font-family: 'wb-medium';
font-size: 2em;
font-weight: normal;
line-height: 1.4em;
margin-bottom: 5px;
}

.post .wysiwyg h3 {
margin-top: 0px;
font-family: 'wb-bold';
font-size: 2.6em;
line-height: 1.4em;
letter-spacing: -0.009em;
color: #000;
font-style: italic;
}

.post .wysiwyg h4 {
font-family: 'wb-bold';
font-size: 3.5em;
line-height: 1.3em;
letter-spacing: 0.02em;
text-transform: uppercase;
display: block;
color: #000;
border: none;

}


.post .wysiwyg p {
font-family: 'wb-light';
font-size: 1.8em;
line-height: 1.4em;
color: #666;
margin-top: 0px;
}

.post .wysiwyg p.mytext {
margin-top: 0px;
font-family: 'wb-medium';
font-size: 2.6em;
line-height: 1.4em;
letter-spacing: -0.009em;
color: #000;
}









section.post { padding: 0em;}

.post .text { margin-bottom: 10px; display: block; clearfix: both;}
.post .images { margin-left: 10px; }
.post .videos { margin-left: 12px;}


.post .text {
border: 8px solid transparent;
padding: 8px 8px 8px 8px;
}

.post .text:hover {
border: 8px solid #0F0;
padding: 8px 8px 8px 8px;
}

.post .images .image { 
margin-left: 8px;
margin-bottom: 8px;
float: left;
}

.post .images .image:hover { 
opacity: 0.8;
    filter: alpha(opacity=80);
}

.post .images .image p { 
font-family: Times;
font-size: 0.9em;
line-height: 1.4em;
/*font-style: italic;*/
color: #666;
}

.post .images-float-left .image { 
margin-right: 14px;
margin-bottom: 14px;
float: left;
}

.post .images-float-right .image { 
margin-left: 14px;
margin-bottom: 14px;
float: right;
}
/*
section.post {
  padding: 2em;
}

.post .text,
.post .wysiwyg,
.post .images,
.post .videos {
  margin-bottom: 4em;
}


.post .text {
	border: 8px solid #FFF;
	padding: 15px 10px 15px 10px;
}

.post .text:hover {
	border: 8px solid #0F0;
	padding: 15px 10px 15px 10px;
}

.post .images .image {
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}

.post .images .image:hover { 
	 opacity: 0.8;
    filter: alpha(opacity=80);
}

.post .images-float-left .image {
  margin-left: 10px;
  margin-bottom: 40px;
  float: left;
}

.post .images-float-right .image {
  margin-right: 10px;
  margin-bottom: 40px;
  float: right;
}

.post .wysiwyg h1 {
  font-family: 'wb-bold';
	font-size: 2.0em;
	line-height: 1.3em;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	padding-bottom: 0.02em;
	margin-bottom: -0.2em;
	display: inline-block;
}

.post .wysiwyg h2 {
	font-family: 'wb-medium';
	font-size: 2em;
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.post .wysiwyg h3 {
	font-family: Georgia;
	font-size: 1.5em;
	line-height: 1.6em;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 0.5em;
}

.post .wysiwyg p {
  	font-family: 'wb-light';
	font-size: 1.6em;
	line-height: 1.4em;
	color: #666;
}
