
/*
** font face
*/

@font-face {
    font-family: 'wb-light';
    src: url('http://worldbrain.fr/assets/font/wb-light.eot');
    src: local('â˜º'), 
        url('http://worldbrain.fr/assets/font/wb-light.woff') format('woff'), 
        url('http://worldbrain.fr/assets/font/wb-light.ttf') format('truetype'), 
        url('http://worldbrain.fr/assets/font/wb-light.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'wb-medium';
    src: url('http://worldbrain.fr/assets/font/wb-medium.eot');
    src: local('â˜º'), 
        url('http://worldbrain.fr/assets/font/wb-medium.woff') format('woff'), 
        url('http://worldbrain.fr/assets/font/wb-medium.ttf') format('truetype'), 
        url('http://worldbrain.fr/assets/font/wb-medium.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'wb-bold';
    src: url('http://worldbrain.fr/assets/font/wb-bold.eot');
    src: local('â˜º'), 
        url('http://worldbrain.fr/assets/font/wb-bold.woff') format('woff'), 
        url('http://worldbrain.fr/assets/font/wb-bold.ttf') format('truetype'), 
        url('http://worldbrain.fr/assets/font/wb-bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'wb-black';
    src: url('http://worldbrain.fr/assets/font/wb-black.eot');
    src: local('â˜º'), 
        url('http://worldbrain.fr/assets/font/wb-black.woff') format('woff'), 
        url('http://worldbrain.fr/assets/font/wb-black.ttf') format('truetype'), 
        url('http://worldbrain.fr/assets/font/wb-black.svg') format('svg');
    font-weight: bold;
    font-style: normal; 
}

/*
** common
*/

body .leaflet-container {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    background: #ffffff;
    //overflow: hidden;
}

body, a { color: #000000;}

.leaflet-container a { color: #000000; }


a {}

a:hover {}

a:focus { outline: 0;}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

/*
** layout
*/

#main { }

#header { display: none;}

#content { }

#footer { display: none;}

/*
** wysiwyg
*/

.wysiwyg {
    font-size: 0.5em;
    line-height: 1.5em;
}

/*
** legend
*/

.legend {
    margin: 0.5em 0;
    font-size: 0.8em;
    line-height: 1.2em;
    font-family : Times;
}

/*
** embed
*/

.embed p { display: none;}

/*
** fancybox
*/

a.fancybox { text-decoration: none;}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff;
}

.fancybox-wb-close,
.fancybox-wb-prev,
.fancybox-wb-next {
    position: fixed;
    width: 50px;
    height: 50px;
    background: transparent url('../img/close.png') 50% 50% no-repeat;
}

.fancybox-wb-close { top: 2%; right: 2%;}

.fancybox-wb-prev { top: 50%; left: 2%; margin-top: -25px; background-image: url('../img/prev.png');}

.fancybox-wb-next { top: 50%; right: 2%; margin-top: -25px; background-image: url('../img/next.png');}

button.fancybox {
    border:none;
    padding:0;
    background-color:transparent;
}
/*
** coordinates
*/

.coordinates {
    display: none;
    position: absolute;
    top: 0;
    right: -6em;
    width: 6em;
    font-size: 2em;
    color: #fff;
    background: #ff0000;
    opacity: .2;
    z-index: 50;
}

.coordinates:hover,
.post:hover .coordinates { opacity: 1;}

.theme:hover .coordinates { display: block; }

.coordinates .info { padding: .3em;}

.coordinates .submit {
    cursor: pointer;
    padding: .2em;
    text-align: center;
    color: #ff0000;
    background: #fff;
}

.coordinates .submit:hover {
    color: #fff;
    background: #ff0000;
}

.post .coordinates,
.post .coordinates .submit:hover { color: #fff; background: #00bb00;}

.post .coordinates .submit { color: #00bb00;}
