/*
** intro
*/

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00ff00;
    z-index: 999;
}

.intro .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 450px;
    margin-left: -400px;
    margin-top: -250px;
    text-align: center;
}

.intro .logo {
    font-family: 'wb-black';
    text-transform: uppercase;
    width: 30em;
    padding: 2em;
    margin: auto;
    color: #fff;
    margin-bottom: 2em;
    background: #00ff00;
}

.intro .logo .name {
    font-size: 3.5em;
    margin-bottom: 0.2em;
    line-height: 1em;
}

.intro .logo .baseline {
    font-size: 0.9em;
    line-height: 1em;
    margin-bottom: 2em;
}

.intro .logo .loader,
.intro .logo .enter {
    height: 35px;
    line-height: 30px;
}

.spin {
    margin:0 auto;
    -webkit-animation: spin 1.5s infinite linear;
    -moz-animation: spin 1.5s infinite linear;
    -o-animation: spin 1.5s infinite linear;
    -ms-animation: spin 1.5s infinite linear;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg);}
    100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg);}
    100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg);}
    100% { -ms-transform: rotate(360deg);}
}

.intro .logo .enter {
    //display: none;
    
}

.intro .logo .enter span {
    padding: 0.5em 1em;
    border: 5px solid #fff;
}

.intro .logo .enter span:hover {
    color: #00ff00;
    background: #fff;
}

.intro .logo .not-enter {
    display: none;
    color: #ff0000;
}

.intro .partners {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 2em;
    z-index: 1;
    text-align: center;
}

.intro .partners img { margin: 0 1em;}

.intro .production { 
    font-weight: normal;
    font-size: 0.9em; 
    letter-spacing: .1em; 
    margin-bottom: 4em; 
    color: #fff;
}

/*
** pannel
*/

.panel, 
.themes {
    // width: 25000px;
    // height: 15000px;
}

.panel {
    position: absolute;
    z-index: 1;
}

.themes {
    position: relative;
    background: #ffffff;
}

/*
** theme
*/

.theme {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.theme h3.name { display: none;}

.theme .sequence {
    position: relative;
    width: 1400px;
    height: 768px;
}

.theme .sequence img {
    width: 100%;
    height: auto!important;
    max-height: 768px;
}

.theme .sequence .play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url('http://worldbrain.fr/assets/img/play.png') 50% 50% no-repeat;
    z-index: 1;
}

/*
** post
*/

section.post { padding: 2em;}

.post {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.post .wysiwyg,
.post .images,
.post .videos { margin-bottom: 4em;}

.post .images .image { 
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}

.post .images-float-left .image { 
    margin-left: 10px;
    margin-bottom: 40px;
    float: left;
}

.post .images-float-right .image { 
    margin-right: 10px;
    margin-bottom: 40px;
    float: right;
}

// Grey to colored image on Hover for clickable posts 
.clickable_image img:last-child {
    display: none
}
.clickable_image:hover img:first-child {
    display: none
}
.clickable_image:hover img:last-child {
    display: inline-block
}

.post .wysiwyg h1 {
    font-family: 'wb-black';
    font-size: 3em;
    line-height: 1em;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    padding-bottom: 0.2em;
    margin-bottom: 0.3em;
    display: inline-block;
}

.post .wysiwyg h2 {
    font-family: 'wb-medium';
    font-size: 2em;
    font-weight: normal;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.post .wysiwyg h3 {
    font-family: Georgia;
    font-size: 1.5em;
    line-height: 1.6em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.post .wysiwyg p {
    font-family: 'wb-light';
    font-size: 1.6em;
    line-height: 1.4em;
    color: #666;
}